# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependency lock files
pnpm-lock.yaml

# Compiled files
dist/
build/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Temporary files
.tmp
.temp

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Backup files
*.bak
*.gho
*.ori
*.orig
*.tmp